body{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
html{
    background-color: #ffffff;
}
header{
    background-color: #999999;
    padding: 50px;
    border: 1px solid;
    padding: 20px;
    width: 55%;


}
.Hola1{
 color: #ffffff;
}
main{
    background-color: #ffffff;
    border: 1px solid ;
    text-indent: 12px;
    width: 55%;
    height: 100%;
    padding: 50px;
    
}
p{
    margin: 20px;
    
}

footer{
    background-color: #999999;
    width: 55%;
    height: 20px;
    padding: 52px;


}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}