html{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #999999;
    
}



.Animate1{
    color:#ffffff;
}
main{
      background-color: #ffffff;
    border: 1px solid #000000;

 display: block;

 align-content: center;
 height: auto;
 justify-content: center;
 beging: 2 em px;
 
 height: auto;
   box-sizing: border-box;
}
*{
    padding: 0;
    marging: 0;
  
}

.Cuadro{
    marging: 0 auto;
    width: auto;
    align-items: center;
  top: 50%;
  left: 50%;
    
}
h3{
    font: 20px arial sans-serif;
}
p{
       font: 18px  arial  sans-serif;
}
footer{
     background-color: #999999;
    margin: auto;
     display: block;

 align-content: center;
 height: auto;
 justify-content: center;
 beging: 2 em px;
 
 height: auto;
   box-sizing: border-box;
}